@color: purple;

.title{
	background: linear-gradient(90deg,purple, #ef73f5);
	font-family: sans-serif;
	font-size: 2em;
	text-align: center;
}

.top.menu{
	background-color: @color;
	border-radius: 25px;
	color: white;
	width: 50%;
	margin: auto;
	display:flex;
	.item:nth-child(3n+1){
		background-color: lighten(@color, 5%);
	}
	.item:nth-child(3n+2){
		background-color: lighten(@color, 15%);
	}
	.item:nth-child(3n+3){
		background-color: lighten(@color, 25%);
	}
	
}
.item{
	margin-left: 20px;
	margin-right: 20px; 
}




.container{
	border-radius: 25px;
	background-color: @color;
	display: grid;
	grid-template-areas:"sidebar bargraph"
						
						"none flexbottom";
	grid-template-columns: 30% auto;
}

.sidebar{
	grid-area: sidebar;
	.subItem{
		display:none;
	}
	.item:hover{
		.subItem{
			display:block;
			margin-left:20%;
			font-weight: bold;
			
		}
		.subItem:hover{
			color:red;
		}
	}
}


.bargraph{
	grid-area: bargraph;
	display: grid;
	grid-template-columns: 10% 10% 10% 10%;
	grid-gap:55px;
	margin-top: 20px;
	margin-left: 200px;

}	

.bar1, .bar2, .bar3, .bar4{
	background-color: green;
}

.bar1 {
	grid-row: 2/span 4;
}

.bar2 {
	grid-row: 3/span 3;
	
}

.bar3 {
	grid-row: 1/span 5;
}

.bar4 {
	grid-row: 4/span 2;
}

  

.flexbottom{
	background-color: #ef73f5;
	grid-area: flexbottom;
	display: flex;
	flex-wrap: wrap;
	h2{
		flex: 1 100%;
	}
	.mon{
		flex:1 1 18%;
		border: 2px solid black;
		border-radius: 25px;
		div{
			margin-left:16px;
		}
		div:nth-child(1){
			font-weight:bold;
		}
	}
	.mon:nth-child(odd){
		background: linear-gradient(90deg, lighten(@color, 20%),purple);
	}
	.mon:nth-child(even){
		background: linear-gradient(90deg, purple,lighten(@color, 20%));
	}

	
}

