@bkcolor: #d2e6f7;
@color: rgba(167, 167, 212, 0.966);

body{
    color: white;
    background-image: url(bk.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

header{
    background-image: url(headbk.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Courgette', cursive;
    font-size: 35px;
    text-align: center;
    height: 120px;
    h1{
        font-family: 'Charmonman', cursive;
        float: left; 
        font-size: 20px;
    }
}

nav{
    text-align: center;
    display:flex;
    padding: 0;
    height: 100%;
	a:nth-child(3n+1){
		background-color: lighten(@color, 5%);
	}
    a:nth-child(3n+2){
		background-color: lighten(@color, 15%);
	}
    a:nth-child(3n+3){
		background-color: lighten(@color, 25%);
    }
    a{
        width: 300px;
        font-size: 20px;
        padding: 2px;
        color: black;
        text-decoration: none;
    }
}

.form{
    width: 50%;
    color: black;
    border: 2px solid black;
    padding: 5px;
    float: right;
    margin: 20px;
}

input{
    width: 90%;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
}

button{
    width:100%;
    padding: 10px;
    margin: auto;
    border-radius: 5px;
}

.info{
    display: flex;
    float: clear;
    width: 100%;
    color: black;
    .up{
        padding: 10px;
        display: flex;
        margin: auto;
        border-right: 2px solid black; 
        border-left: 2px solid black;
    }
    .data{
        text-align: center;
        margin-left: 30px;
        font-size: 1em;
        font-family: cursive;
        font-weight: bold;
    }
}


article{
    h2{
        color: black;
        font-size: 50px;
        margin: 20px;
        text-align: center;
        
    }
}

img{
    border: 2px solid lightblue;
    border-radius: 25px;
    margin: 15px;
    width: 30%;
    height: 180px;
}

.about, .srv{
    border: 2px solid lightblue;
    border-radius: 25px;
    width: 60%;
    float: right;
    margin: 10px;
    text-align: center;
    font-size: 28px;
    color: black;
}