* {
	
    box-sizing: border-box;
	margin: 20px;
	
}

h1,h2{
	width: 100%;
	height: 100px;
	padding: 20px;
	background-color: #f1f1f1;
	font-size: 50px;
	text-align: center;
	
}

nav {
    float: left;
    width: 25%;
    height: 420px; 
    padding: 20px;
	background-color: #f1f1f1;
	font-size: 30px
	margin-right: 10px;
	
}

article {
	float: right;
    padding: 10px;
	margin: 20px 20px 20px 20px;
    width: 60%;
    background-color: #f1f1f1;
    height: 420px; 
	font-size: 20px;/* only for demonstration, should be removed */
}

@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}