* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
	background-image: url("backimg.jpg");
	
}

h2{
	background-color: #f1f1f1;
	color: black;
}


/* Style the header */
header {
	color: white;
	font-size: 35px;
    padding: 30px;
    text-align: center;
}

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 25%;
    height: 220px; 
    padding: 20px;
	
	font-size: 30px
	margin-right: 10px;
	
}

nav ul {
    list-style-type: inherit;
	background-color: #f1f1f1;
    padding: 40px;
}

.edu{
	float: left;
	margin: 20px 20px 20px 20px;
}

.exp{
	float: right;
	margin: 20px 20px 20px 20px;
	
}

h3{
	float: left;
	padding: 10px;
}
article table{
	height: 200px;
	border: 1px solid black;
    border-collapse: collapse;
	width: 65%;

}

article td {
    text-align: center;
}

article img{
	width: 35%;
	height: 200px;
	padding:0;
	float: left;
	
}
/* Style the list inside the menu */

article {
	float: right;
    padding: 10px;
	margin: 20px 20px 20px 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 220px; 
	font-size: 20px;/* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}